@charset "utf-8";
/* CSS Document */

body {
	background-color: wheat;
}
p {
	color: black;
	font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
li {
  width: 150px;
  height: 80px;
  transform: rotate(-20deg);
}